// 颜色定义规范
$color-background = #FB7299
$color-font-title=#FFFFFF
$color-font-subtit=#212121
$color-text=#505050
$color-font-tips=#FB7299;

//字体定义规范
$font-size-small-s = 20px;

$font-size-small = 24px;/* px */
$font-size-medium = 28px;/* px */
$font-size-medium-x = 32px;/* px */
$font-size-large = 64px;/* px */
